.para {
  padding: 1rem;
}
.highlight {
  display: inline;
  background-color: yellow;
}
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  box-shadow: 5px 5px 5px 0px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#click {
  color: blueviolet;
  cursor: pointer;
}
#clickno {
  color: red;
  cursor: pointer;
}
